*{
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html{
  font-family: 'Cantarell', sans-serif;
  height: 100%;
  background-image: url('http://static.donordrive.com/themes/extralife2014/img/bk.jpg');
  background-size: auto 100%;
  background-position: center center;
  background-repeat: no-repeat;
}
body{
  margin: 0;
}
h1{
  color: white;
}
.hidden{
  display: none !important;
}
.header{
  text-align: center;
}
[data-link]{
  color: white;
  text-decoration: underline;
}
[data-link]:hover{
  cursor:pointer;
}
label{
  color: white;
}
.header div{
  color: white;
}
.inputs{
  text-align: center;
}
input, button{
  font-family: 'Cantarell', sans-serif;
}
.recent-donations{
  background-color: white;
  padding: 10px;
  width: 95%;
  margin: auto;
  margin-top: 15px;
}
.info{
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.participant-info, .team-info{
  display: inline-block;
}
.info .avatar{
  width: 150px;
  height: 150px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.info .name{
  text-align: center;
}
.donation{
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  padding-top: 5px;
}
.donation:before, .donation:after{
  content: '';
  display: table;
  clear: both;
}
.donation img{
  float: left;
  width: 20%;
}
.donation .dono{
  float: left;
  width: 75%;
  padding: 2.5%;
}
button{
  background-color: white;
  color: black;
  border: none;
}
button[data-link]{
  text-decoration: none;
  color: black;
}
button:hover{
  background-color: #ddd;
  cursor: pointer;
}
.goal-bar{
  width: 50px;
  height: 100px;
  margin: auto;
  background-color: white;
  position: relative;
}
.participant-goal{
  position: absolute;
  left: -55px;
}
.team-goal{
  position: absolute;
  right: -42px;
}
.participant-info, .team-info{
  position: relative;
}
.goal-bar-inner{
  position: absolute;
  width: 50px;
  bottom: 0;
}
.participant-info .goal-bar-inner{
  background-color: #23c1e8;
}
.team-info .goal-bar-inner{
  background-color: #96d400;
}
